.artist__container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .artist__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  .artist__info__image {
    height: 200px;
    width: 200px;
    margin: 0 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
  }
  .artist__info__image:hover {
    transform: scale(1.02);
  }
  .artist__infoText {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
  }
  .artist__infoText > p {
    font-size: 14px;
  }
  